table, th, td{
  border: none;
  text-align: center;
  border-collapse: collapse;
}

table {
  width: 90%;
  margin: auto;
  margin-top: 80px;
}

img {
  width: 200px;
  height: 200px;
  padding: 50px;
}

nav{
	border: 5px;
	text-align: center;
	background-color: brown;
	padding: 10px ;
	text-decoration: none;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: aliceblue;
	display: inline-block;
	padding: 20 px 20 px;
  margin-left: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

a:hover{
  background-color:black;
}

body {
  background-color: rgb(231, 231, 231);
}

.java {
  width: 250px;
  height: 200px;
}